h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: blue;
    padding:10;
}

    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    color:red;
}

